<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video list</title>
</head>
<body>

<h2>All videos</h2>

<div th:unless="${#lists.isEmpty(videoList)}">
    <dl th:each="video : ${videoList}">

        <dt class="videoHeadline">
            <span th:text="${video.name}">Name</span>
        </dt>
        <dd class="videoDescription">
            <span th:if="${video.description}" th:text="${video.description}">Description</span>
            <span th:if="${video.description eq null}"> No description!</span>
        </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(videoList)}">
    <p>There is no videos in database :/</p>
</div>
<hr />

<h3>Upload a new video here</h3>
<form method="POST" action="/video" enctype="multipart/form-data">

    <label for="description">Description:</label><br />
    <textarea name="description" cols="80" rows="5"> </textarea>

    <label for="video">Upload video:</label><br />

    <input type="file" name="video" accept="video/3gpp2,video/3gpp,.3gp2,.3gp,.asf,video/avi,.avs,.dv,.f4v,.flc,.fli,video/x-flv,.gvi,.m1v,video/mpeg,.m4e,.m4u,video/x-m4v,.mjp,video/x-matroska,.moov,video/quicktime,.movie,video/mp4,.mpv2,.rm,.ts,.vfw,.vob,.wm,video/x-ms-wmv"/>

    <br /> <input type="submit"/>
</form>
</body>
</html>